<div class="container">
    <div class="content">
        <div class="header">
            <h4>Order Status Vs Avg. Time</h4>
            <span class="ml-2">(Delivered Items)</span>
        </div>
        <div class="delivered-date__section">
            <div>
                <div class="d-flex align-items-center mb-2 previous">
                    <div class="delivered-date" style="background-color: #C3E3F6;"></div>
                    <span class="ml-2" style="font-size: 10px; color: #ACACAC;">Previous month</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <div class="delivered-date" style="background-color: #6EC9FE;"></div>
                    <span class="ml-2" style="font-size: 10px; color: #ACACAC;">This month</span>
                </div>
            </div>
        </div>

        <div style="position: relative; bottom: 20px;">
            <div class="d-flex align-items-center">
                <div class="order-status-dash-border">
                    <div class="order-status-dot" style="background-color: #D98B56;">
                    </div>
                </div>
                <span class="ml-3">Order Placed</span>
            </div>
    
            <div class="order-status__detail">
                <div class="card-box">
                    <div class="card-box__content">
                        <div class="d-flex flex-column justify-content-between">
                            <span class="mb-3">Processing time</span>
                            <div>
                                <div class="progress d-flex" style="margin-bottom: 10px;">
                                    <div class="progress-bar" role="progressbar" style="width: 104px; background-color: #C3E3F6;"></div>
                                </div>
                                <div class="progress d-flex">
                                    <div class="progress-bar" role="progressbar" style="width: 124px; background-color: #6EC9FE;"></div>
                                </div>
                            </div>
                        </div>
        
                        <div>
                            <span style="font-size: 25px;">1.2 Days</span>
                            <div class="percent-value">
                                <span class="percent-value--up mr-2">10%</span>
                                <div class="arrow-top-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex align-items-center">
                <div class="order-status-dash-border">
                    <div class="order-status-dot" style="background-color: #6EC9FE;">
                    </div>
                </div>
                <span class="ml-3">Shipped</span>
            </div>
    
            <div class="order-status__detail">
                <div class="card-box">
                    <div class="card-box__content">
                        <div class="d-flex flex-column justify-content-between">
                            <span class="mb-3">Shipping time</span>
                            <div>
                                <div class="progress d-flex" style="margin-bottom: 10px;">
                                    <div class="progress-bar" role="progressbar" style="width: 139px; background-color: #C3E3F6;"></div>
                                </div>
                                <div class="progress d-flex">
                                    <div class="progress-bar" role="progressbar" style="width: 192px; background-color: #6EC9FE;"></div>
                                </div>
                            </div>
                        </div>
        
                        <div>
                            <span style="font-size: 25px;">2.62 Days</span>
                            <div class="percent-value">
                                <span class="percent-value--up mr-2">15%</span>
                                <div class="arrow-top-icon"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex align-items-center">
                <div class="order-status-dash-border">
                    <div class="order-status-dot" style="background-color: #70AD46;">
                    </div>
                </div>
                <span class="ml-3">Delivered</span>
            </div>
        </div>
    </div>
</div>



