:host ::ng-deep {
    * {
      font-family: 'Poppins';
    }

    .container {
        width: 428px;

        .content {
            padding-top: 24px;
            padding-bottom: 24px;
            padding-left: 10px;
            padding-right: 0px;
        }
    }

    h4 {
        color: #303539;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 0px;
    }

    span {
        color: #303539;
        font-size: 14px;
    }

    .delivered-date__section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .delivered-date {
        width: 15px;
        height: 15px;
        border-radius: 6px;
    }

    .header {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
    }

    .order-status-dash-border {
        width: 44px;
        height: 44px;
        padding: 4px;

        border: 2px dashed #6EC9FE;
        border-radius: 50%;
    }

    .order-status-dot {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .order-status__detail {
        margin-top: 16px;
        margin-bottom: 16px;
        margin-left: 20px;
        padding-left: 35px;
        border-left: 2px dashed #6EC9FE;
    }

    .card-box {
        width: 330px;
        height: 208px;
        background-color: #FFFFFF;
        position: relative;
        border-radius: 15px;
        box-shadow: 0px 0px 15px #72727245;

        &:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            left: 2px;
            top: 50%;
            margin-top: -20px;
            box-sizing: border-box;
            border: 13px solid #FFFFFF;
            border-color: transparent transparent #FFFFFF #FFFFFF;
            transform-origin: 0 0;
            transform: rotate(45deg);
            box-shadow: -3px 3px 3px 0 rgba(114, 114, 114, 0.1);
            border-radius: 5px;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            height: 100%;
            padding: 20px 25px;
        }
    }

    .percent-value {
        display: flex;
        justify-content: flex-end;
        margin-right: 25px;
        font-size: 14px;
        font-weight: 600;

        margin-top: 10px;

        &--up {
            color: #2B9554;
        }

        &--down {
            color: #BD3535;
        }
    }

    .progress {
        height: 15px;
        border-radius: 22px;
        width: 100%;
        background-color: #ffffff;
      
        .progress-bar {
          border-top-right-radius: 22px;
          border-bottom-right-radius: 22px;
        }
    }

    .arrow-bottom-icon {
        position: relative;
        width: 10px;
        height: 10px;
        bottom: 4px;
        box-sizing: border-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #FF5858;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }
    .arrow-bottom-icon::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0px;
        left: -8px;
        top: 9px;
        box-sizing: border-box;
        
        border: 9px solid #FFFFFF;
        border-color: transparent transparent #FFFFFF #FFFFFF;
        
        transform-origin: 0 0;
        transform: rotate(-45deg);
        
        box-shadow: -3px 3px 3px 0 rgba(255, 88, 88, 0.5);
        border-radius: 5px;
    }

    .arrow-top-icon {
        position: relative;
        top: 8px;
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 10px #39BF61;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .arrow-top-icon::after{
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0px;
        left: 18px;
        top: 1px;
        box-sizing: border-box;
        border: 9px solid #FFFFFF;
        border-color: transparent transparent #FFFFFF #FFFFFF;
        transform-origin: 0 0;
        transform: rotate(-225deg);
        box-shadow: -3px 3px 3px 0 rgba(57, 191, 97, 0.5);
        border-radius: 5px;
    }

    @media (min-width: 768px) {
        .container {
            width: 680px;
            height: 510px;

            .content {
                padding: 24px 10px;
            }
        }

        .delivered-date__section {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-right: 50px;

            div:first-child {
                display: flex;
            }

            .previous {
                margin-right: 30px;
            }
        }

        .card-box {
            width: 534px;
            height: 110px;
    
            &__content {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 100%;
                padding: 15px 25px;
            }
        }
    }
}