<div class="container">
    <div class="content">
        <section>
            <h3>Revenue Waterfall</h3>
            <div class="card">
                <div class="card-body">
                    <div class="px-2">
                        <div class="text-center">
                            <svg class="chart"></svg>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    
    <div class="footer">
        <div class="d-flex align-items-center">
            <img class="avatar" src="./assets/images/avatar.png"/>
            <div class="pl-3 pr-3">
                <div class="text-nowrap">William Carison</div>
                <div class="position">Senior Analyst</div>
            </div>
        </div>
        <div class="divider"></div>
        <div class="description">
            <p class="m-0">Increase in marketing spend seems to increase the number of impressions in Alpha Bravo and looks like it translated to revenue</p>
        </div>
    </div>
</div>



