<div class="container">
    <div class="content">
        <div class="header">
            <h4>Revenue by Order Status</h4>
            <p>*Delivered Units includes Pending, Shipped and Successfully Delivered excluding Returns</p>
        </div>
        <section class="realized-revenue">
            <span class="text-center section-title" style="color: #4CBB76;">Realized</span>
            <div class="realized-revenue-content">
                <div class="columns mb-3">
                    <span class="column-name">Units Orders</span>
                    <span class="column-name">Revenue</span>
                    <span class="column-name">AUR</span>
                </div>
                <div class="card realized-card">
                    <div class="card-body">
                        <div class="delivered">
                            <div class="units-ordered">
                                <div class="mb-2">
                                    <span style="color: #303539">*Delivered</span>
                                    <span style="color: #303539">839</span>
                                    <div class="d-flex">
                                        <span class="percent-value--up mr-3">210%</span>
                                        <div class="arrow-top-icon"></div>
                                    </div>
                                </div>
                                <div class="progress d-none d-md-flex">
                                    <div class="progress-bar" role="progressbar" style="width: 245px;"></div>
                                </div>
                            </div>
                            <div class="revenue">
                                <span style="color: #949494">₹ 88,80,11,343</span>
                                <div class="percent-value">
                                    <span class="percent-value--up mr-3">132%</span>
                                    <div class="arrow-top-icon"></div>
                                </div>
                            </div>
                            <div class="aur">
                                <span style="color: #949494">₹ 967</span>
                                <div class="percent-value">
                                    <span class="percent-value--up mr-3">16%</span>
                                    <div class="arrow-bottom-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="lost-revenue">
            <span class="text-center section-title" style="color: #E94141;">Lost</span>
            <div class="lost-revenue-content">
                <div class="card lost-card">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="failed mb-3">
                            <div class="units-ordered">
                                <div class="mb-2">
                                    <span style="color: #303539">Failed</span>
                                    <span style="color: #303539">259</span>
                                    <div class="d-flex">
                                        <span class="percent-value--up mr-3">121%</span>
                                        <div class="arrow-top-icon"></div>
                                    </div>
                                </div>
                                <div class="progress d-none d-md-flex">
                                    <div class="progress-bar" role="progressbar" style="width: 125px;"></div>
                                </div>
                            </div>
                            <div class="revenue">
                                <span style="color: #949494">₹ 2,45,114</span>
                                <div class="percent-value">
                                    <span class="percent-value--up mr-3">110%</span>
                                    <div class="arrow-top-icon"></div>
                                </div>
                            </div>
                            <div class="aur">
                                <span style="color: #949494">₹ 946</span>
                                <div class="percent-value">
                                    <span class="percent-value--up mr-3">5%</span>
                                    <div class="arrow-bottom-icon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="cancelled mb-3">
                            <div class="units-ordered">
                                <div class="mb-2">
                                    <span style="color: #303539">Cancelled</span>
                                    <span style="color: #303539">4</span>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-4" style="color: #DCB221">0%</span>
                                        <div class="empty-status"></div>
                                    </div>
                                </div>
                                <div class="progress d-none d-md-flex">
                                    <div class="progress-bar" role="progressbar" style="width: 19px;"></div>
                                </div>
                            </div>
                            <div class="revenue">
                                <span style="color: #949494">₹ 3,870</span>
                                <div class="percent-value">
                                    <span class="percent-value--down mr-3">4%</span>
                                    <div class="arrow-bottom-icon"></div>
                                </div>
                            </div>
                            <div class="aur">
                                <span style="color: #949494">₹ 967</span>
                                <div class="percent-value">
                                    <span class="percent-value--down mr-3">16%</span>
                                    <div class="arrow-bottom-icon"></div>
                                </div>
                            </div>
                        </div>

                        <div class="returned mb-3">
                            <div class="units-ordered">
                                <div class="mb-2">
                                    <span style="color: #303539">Returned</span>
                                    <span style="color: #303539">40</span>
                                    <div class="d-flex">
                                        <span class="percent-value--up mr-3">45%</span>
                                        <div class="arrow-top-icon"></div>
                                    </div>
                                </div>
                                <div class="progress d-none d-md-flex">
                                    <div class="progress-bar" role="progressbar" style="width: 33px;"></div>
                                </div>
                            </div>
                            <div class="revenue">
                                <span style="color: #949494">₹ 44,429</span>
                                <div class="percent-value">
                                    <span class="percent-value--up mr-3">45%</span>
                                    <div class="arrow-top-icon"></div>
                                </div>
                            </div>
                            <div class="aur">
                                <span style="color: #949494">₹ 1,110</span>
                                <div class="percent-value">
                                    <span class="percent-value--up mr-3">45%</span>
                                    <div class="arrow-top-icon"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>



