
:host ::ng-deep {
  * {
    font-family: sans-serif;
  }
  
  .container {
    .content {
        padding: 20px 60px;
    }
  
    .footer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px 60px;
  
      color: #ffffff;
      background-color: #5bb4ba;
  
      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    
      .position {
        font-size: 13px;
        opacity: 0.85;
      }
    
      .divider {
        width: 2.5px;
        height: 60px;
        margin-right: 10px;
        background-color: rgba(255, 255, 255, .7);
      }
    
      .description {
        font-style: italic;
      }
    }
  }
  
  .card {
    border: 0;
    box-shadow: 0px 0px 25px rgba(25, 42, 70, 0.11);
    border-radius: 1.25rem;
  }
  
  .progress {
    height: 22px;
    border-radius: 15px;
    width: 100%;
    background-color: #ffffff;
  
    .progress-bar {
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
    }

    .progress-bar.current-revenue {
      z-index: 1;
    }

    .progress-bar.projected-revenue {
      position: relative;
      right: 10px;
    }
  }

  h6, 
  .h6 {
    font-weight: 600;
  }

  span {
    font-size: 12px;
    font-weight: 600;
  }

  .progress-percent {
    font-size: 20px;
    color: #32B765;
  }

  .categories {
    .category-name {
        font-size: 15px;
    }

    .last-month {
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 2;

        width: 4px;
        height: 45px;
        background-color: #4C72C1;
    }
  }

  .revenue-title-section {
    padding-right: 20px;
    span {
        font-size: 10px;
        color: #878787;
    }
  }

  .status-dot {
    width: 5px;
    height: 5px;
    margin: 5px;
    border-radius: 50%;
  }
}

::ng-deep {
  .tooltip {
    top: 15px !important;
  }

  .tooltip.show {
    opacity: 1;
  }
    
  .tooltip .tooltip-inner {
      background-color: #ffffff; 
      color:rgb(248, 147, 32); 
      box-shadow: 0px 4px 11px 0px rgba(248, 147, 32);
      padding-left: 25px;
      padding-right: 25px;
      border-radius: 10px;
  }
      
  .bs-tooltip-top .arrow::before, .bs-tooltip-auto[x-placement^="top"] .arrow::before {
    border-top-color: white;
  }
}



  
