:host ::ng-deep {
    * {
      font-family: 'Poppins';
    }
    
    .container {
        width: 680px;
        height: 510px;

        background: #E2E9F3 0% 0% no-repeat padding-box;
        opacity: 1;

        .content {
            padding: 20px 15px;
        }
    }

    h4 {
        color: #303539;
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        color: #303539;
        font-size: 30px;
        font-weight: 600;
    }

    h6 {
        color: #929292;
        font-size: 15px;
    }

    span {
        display: block;
        color: #303539;
        font-size: 15px;
    }
    
    .card {
        border: 0;
        background: #E2E9F3 0% 0% no-repeat padding-box;
        box-shadow: -8px -8px 40px #FFFFFF, 10px 18px 30px rgba(0, 0, 233, 0.15);
        opacity: 1;
    }

    .pie-chart {
        width: 238px;
        height: 238px;

        border-radius: 50%;
    }

    .session-card {
        position: relative;
        width: 120px;
        height: 120px;
        
        border-radius: 25px;

        .card-body {
            padding: 1rem;
        }

        .session-color {
            position: absolute;
            width: 25px;
            height: 25px;
            background-color: yellow;
            border-radius: 8px;
            border-top-left-radius: 25px;
        }
    }

    img {
        width: 30px;
        height: 30px;
    }
}