:host ::ng-deep {
    * {
      font-family: 'Poppins';
    }
    
    .container {
        width: 680px;
        height: 510px;

        background: #E2E9F3 0% 0% no-repeat padding-box;
        opacity: 1;

        .content {
            padding: 20px 15px;
        }
    }

    h4 {
        color: #303539;
        font-size: 20px;
        font-weight: 600;
    }

    h3 {
        color: #303539;
        font-size: 30px;
        font-weight: 600;
    }

    h6 {
        color: #929292;
        font-size: 15px;
    }

    span {
        display: block;
        color: #303539;
        font-weight: 600;
    }
    
    .card {
        border: 0;
        background: #E2E9F3 0% 0% no-repeat padding-box;
        box-shadow: -8px -8px 40px #FFFFFF, 10px 18px 30px rgba(0, 0, 233, 0.15);
        opacity: 1;
    }

    .channel-group {
        width: 513px;
        padding: 0 20px;
    }

    .barchar {
        width: 513px;
        height: 303px;

        border-radius: 20px;
    }

    img {
        width: 41px;
        height: 41px;
    }

    .transaction-line {
        fill: none;
        stroke: #FD9863;
        stroke-width: 3;
    }

    .aov-line {
        fill: none;
        stroke: #00CFFE;
        stroke-width: 3;
    }

    .transaction-dot {
        fill: #E3EAF4;
        stroke: #FD9863;
        stroke-width: 3;
    }

    .aov-dot {
        fill: #E3EAF4;
        stroke: #00CFFE;
        stroke-width: 3;
    }

    .axis path {
        stroke: none;
    }

    .axis.x {
        text {
            display: none;
        }
    }
}