<div class="container">
    <div class="content">
        <h4>Channel wise Revenue, Transactions & AOV</h4>
        <div class="row">
            <div class="col-12">
                <section class="d-flex justify-content-center">
                    <div style="width: 513px;">
                        <div class="legend d-flex justify-content-start">
                            <div class="d-flex align-items-center mr-4">
                                <span class="revenue mr-3"></span>
                                <span>Total Revenue</span>
                            </div>
                            <div class="d-flex align-items-center mr-4">
                                <span class="transactions mr-3"></span>
                                <span>Transactions</span>
                            </div>
                            <div class="d-flex align-items-center mr-4">
                                <span class="aov mr-3"></span>
                                <span>AOV</span>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="w-100" style="position: absolute;">
                    <svg class="chart1"></svg>
                </div>
                <div>
                    <section class="d-flex justify-content-center mt-4 mb-2">
                        <div class="card barchar">
                            <div class="card-body p-0 d-flex justify-content-center align-items-center">
                                <svg class="chart"></svg>
                            </div>
                        </div>
                    </section>
                    <section class="d-flex justify-content-center mt-4">
                        <div class="channel-group d-flex justify-content-around">
                            <div>
                                <img src="./assets/images/facebook.svg"/>
                            </div>
                            <div>
                                <img src="./assets/images/email.svg"/>
                            </div>
                            <div>
                                <img src="./assets/images/icon1.svg"/>
                            </div>
                            <div>
                                <img src="./assets/images/linkedin.svg"/>
                            </div>
                            <div>
                                <img src="./assets/images/icon2.svg"/>
                            </div>
                            <div>
                                <img src="./assets/images/twitter.svg"/>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



