<div class="container">
    <div class="content">
        <h4>Channel wise Revenue, Transactions & AOV</h4>
        
        <div class="row">
            <div class="col-12">
                <div class="w-100" style="position: absolute;">
                    <svg class="chart1"></svg>
                </div>
                <div>
                    <section class="d-flex justify-content-center mt-4 mb-2">
                        <div class="card barchar">
                            <div class="card-body p-0 d-flex justify-content-center align-items-center">
                                <svg class="chart"></svg>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>



